#home {
  width: 100%;
  height: 100%;
  background-color: $color-secondary-700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#price-feed-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  padding: 3rem;
  background: $color-secondary-400;
  border-radius: 15px;
  min-height: 30rem;

  .intersect-container {
    width: 100%;
    height: $card-height-size;
  }
}

.top-of-list {
  padding-block: $space-size-m;
  display: flex;
  align-items: center;
  justify-content: end;
}

#hero-section {
  width: 100%;
  padding-block: $space-size-xxl;
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content .github-redirect {
    margin-top: $space-size-m;
  }

  .text-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-family: $font-family-primary-regular;
    gap: 0.2rem;

    .small-description {
      color: $color-primary-400;
      font-size: $font-size-s;
    }

    .header {
      font-size: $font-size-xl;
      color: $color-primary-100;
    }
  }

  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 23rem;
      max-height: 23rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 576px) {
  #price-feed-list {
    grid-template-columns: 1fr;
  }
}
